* {
    box-sizing: border-box;
}

body html {
    padding: 0;
    margin: 0;
    font-size: xx-large;
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    padding: 10px;
}

.container {
    max-width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -62px;
    height: 100%;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    padding: 20px 30px;
}

button:hover {
    background-color: #fce683;
}

button:active {
    background-color: #d8c573;
}

.start {
    margin-bottom: auto;
}

.dice {
    margin-bottom: 70px;
}


.game {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    width: 49.5%;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 100%;
}

.left-player {
    background-color: rgb(10, 105, 247);
}

.right-player {
    background-color: rgb(245, 63, 63);
}

h3 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.score {
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    height: max-content;
}

h5 {
    margin: 0;
}

.turn {
    border: 10px solid rgb(255, 255, 0);
}

.winner {
    border: 10px solid rgb(30, 255, 0);
    color: rgb(25, 189, 4);
}

.hidden {
    display: none;
}

/* @media screen and (max-width:430px) {
    .game {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: max-content;
    }

    section {
        width: 100%;
        padding-top: 70px;
        padding-bottom: 70px;

    }

    .container {
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .controller {
        display: block;
        height: 100%;
        width: min-content;
        margin: 0;
        left: 0;
        margin: auto;
        right: 0;
    }

    body {
        padding: 10px;
        margin: 0;
    }

    button {

        padding: 10px 20px;
    }

    .start {
        position: absolute;
        top: 20px;
    }

    .dice{
        position: absolute;
        top: 45%;
        right: 0;
        left: -20px;
    }
    #hold{
        position: absolute;
        top:48%;
        right: 120px;
    }
    #roll{
        position: absolute;
        top:48%;
        left: 100px;
    }

} */